body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: arial;
}

h1 {
  font-size: 1.3em;
}

button, input, textarea {
  font-size: inherit;
  margin: 0.3em;
  background: white;
  border: 1px solid #00aacc;
  border-radius: 20px;
  padding: 0.3em 1em;
  outline: 0;
}

input {
  background: #eee;
  border: 0;
}

#logView {
  height: 15em;
  width: 40em;
  color: #999;
  font-size: 0.5em;
  padding: 1em;
  background: #eee;
  border: 0;
}

button {
  color: #00aacc;
  cursor: pointer;
}

button:hover {
  filter: brightness(95%);
}

button.selected {
  background: #00aacc;
  color: white;
}

button.negative {
  background: #aa0000;
  color: white;
  border: 0;
}

section {
  padding: 1em;
  background: white;
  border-radius: 0.5em;
  margin: 0.5em;
  width: 100%;
}

.form {
  width: 50%;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=range] {
  width: 50%;
}

.log {
  display: none;
}
